.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.pnp.js
.vercel
*.pem
**/*.bun
**/*.log
**/*.tar.gz
**/*.tgz
**/*.trace
**/*.zip
/.next/
/.pnp
/build
/coverage
/node_modules
/out/
bun.lockb
npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*
